{% extends "base_template.html" %}
{% load static %}


{% block breadcrumbs %}
<li><a href="{% url 'plans' %}"> Plans</a></li>
{% endblock %}


{% block page %}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
<div class="container">

  <div class="row justify-content-center">

    {% for plan in current_plans %}
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0 ">
          <div class="box featured" >
              <!-- <span class="advanced">Advanced</span> -->
            <h3>{{plan.name}}</h3>
            <h4><sup>$</sup>{{plan.price.amount}}<span> / {{plan.months}} months</span></h4>
            <ul>
              {% if plan.name == "Foundational" %}
                  <li>Skill Mastery</li>
                  <li>Monthly Power Sessions</li>
                  <li>Tech Innovators Network</li>
                  <li class="na">VIP Event Access</li>
                  <li class="na"><b>Pro Features </b> </li>
               {% elif plan.name == "Pro" %}
                  <li> <b> Foundational Features </b> </li>
                  <li>Personalized Career Roadmap</li>
                  <li>Career Advancement Boot-camp</li>
                  <li> Certification Mentor Guide </li>
                  <li> VIP Events Access </li>
               {% endif %}
            </ul>
            <div class="btn-wrap">
              <a href="{{plan.get_absolute_url}}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>
    {% endfor %}



  </div>

</div>
</section><!-- End Pricing Section -->

{% endblock %}