{% extends "base_template.html" %}
{% load static %}


{% block breadcrumbs %}
<li> Payment Cancelled</li>
{% endblock %}


{% block page %}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
<div class="container">

  <div class="row justify-content-center">

    <div col-10>
        Payment cancelled.
        If you didn't cancelled this intentionally, you can retry or contact us to report further issues
    </div>
  </div>

</div>
</section><!-- End Pricing Section -->

{% endblock %}